venv
.idea
**/__pycache__/
media
**/migrations/*
!**/migrations/__init__.py
frontend/build
transfer
auto_git_pull.log
transfer/
.env
logs/
staticfiles
nohup.out
celery.beat.PersistentScheduler
celery.loaders.app.AppLoader
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
celerybeat-schedule